body{
    background-color: rgb(6, 60, 107);
}

.header{
    padding-top: 150px;
}
.main_text{
    color: rgb(44, 2, 2);
}

.side_text{
    color: rgb(56, 65, 65);
}

.p_text{
    color: rgb(73, 39, 39);
}
.contact_pic{
    width: 100%;
    height: 800px;
    margin: auto;
    object-fit: cover;
}