body{
    background-color: aliceblue;
}

.header{
    padding-top: 150px;
}
.main_text{
    color: whitesmoke;
}

.side_text{
    color: azure;
}

.p_text{
    color: rgb(255, 127, 127);
}
.contact_pic{
    width: 100%;
    height: 800px;
    margin: auto;
    object-fit: cover;
}