<!-- base.html을 불러옴 -->
{% extends 'blog/base.html' %}

<!-- base.html에 없는 밑에 부분을 이어줌(밑에 endblock으로 마무리 필수) -->
{% block main_area %}

<div class="container my-3">
    <h1>블로그 list</h1>
    <div class="row">
        <div class="col-md-8 col-lg-9">
<!-- 입력한 post를 모두 받아옴for 문 사용 -->
            {% for p in post_list %}
            <div class="card mb-4">
                {% if p.head_image %}
                    <img class="card-img-top" src="{{p.head_images.url}}" alt="{{p}} head image">
                {% else %}
                <!--임의 이미지-->
                    <img class="card-img-top" src="https://picsum.photos/700/400" alt="random_image">

                <!--임의 이미지 고정-->
                    <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/700/400" alt="random_image">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title"><a href="{{p.get_absolute_url}}">{{p.title}}</a></h2>
                    <h4>{{p.created_at}}</h4>
                    <p class="card-text">{{p.content}}</p>
                    <!--버튼 생성-->
                    <a href="#" class="btn"></a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-4 col-lg-3">
            <div class="card my-4">
                <ul class="list-group">
                    <li class="list-group-item disabled" aria-disabled="true">참고한 사이트</li>
                    <li class="list-group-item">1. </li>
                    <li class="list-group-item">2. </li>
                    <li class="list-group-item">3. </li>
                </ul>
            </div>
            <div class="card my-4">
                <h5 class="card-header">Category</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Django</a>
                                </li>
                                <li>
                                    <a href="#">Python</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Django</a>
                                </li>
                                <li>
                                    <a href="#">Python</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}