<!-- base.html을 불러옴 -->
{% extends 'blog/base.html' %}
{% block head_title %} {{post.title}} -Blog {% endblock %}
<!-- base.html에 없는 밑에 부분을 이어줌(밑에 endblock으로 마무리 필수) -->
{% block main_area %}
    <div id="post-area">

        <h1 class="mt-4">{{post.title}}</h1>
        <h5 class="text-muted">{{post.hook_text}}</h5>
        <p class="lead">
            by
            <a href="#">{{post.author|upper}}</a>
        </p>
        {% if post.category %}
            <span class="badge badge-light">{{post.category}}</span>
        {% else %}
            <span class="badge badge-light">미분류</span>
        {% endif %}
        <h2 class="card-title">{{p.title}}</a></h2>
        {% if p.hook_text %}
            <h5 class="text-muted">{{p.hook_text}}</h5>
        {% endif %}
        <hr>
        <p>{{post.created_at}}</p>
        <hr>
                
        {% if post.head_image %}
            <img class="img-fluid rounded" src="{{post.head_image.url}}" alt="{{ post.title}} head_image">
        {% else %}
            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{post.id}}/700/400" alt="random_image">
        {% endif %}
        <hr>
        <p>{{post.content}}</p>

        {% if post.file_upload %}
            <a href="{{post.file_upload.url}}" class="btn btn-ouline-info" role="button" download>Download:
                {% if post.get_file_ext == 'csv' %}
                    <i class="fas fa-file-csv"></i>
                {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                    <i class="fas fa-file-excel"></i>
                {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                    <i class="fas fa-file-word"></i>
                {% else %}
                    <i class="far fa-file"></i>
                {% endif %}
                {{ post.get_file_name }}
            </a>
        {% endif %}
        <hr>
    </div>
    <div id="comment-area">
        <p>*한줄평*</p>
    </div>
    
{% endblock %}