<!-- base.html을 불러옴 -->
{% extends 'blog/base.html' %}

<!-- base.html에 없는 밑에 부분을 이어줌(밑에 endblock으로 마무리 필수) -->
{% block main_area %}

    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
        {% endif %}
    {% endif %}

    <h1>블로그 list 
        {% if category %}<span class="badge badge-light">{{category}}</span>{% endif %}
    <h3>{% if tag %}<span class="badge badge-light"><i class="fas fa-tags"></i>{{tag}}({{tag.post_set.count}})</span>{% endif %}</h3>
    </h1>
    <!--포스트리스트에 포스트가 있으면 실행-->
    {% if post_list.exists %}

    <!-- 입력한 post를 모두 받아옴for 문 사용 -->
        {% for p in post_list %}
            <div class="card mb-4" id="post-{{p.pk}}">
                {% if p.head_image %}
                    <img class="card-img-top" src="{{p.head_image.url}}" alt="{{p}} head_image">
                {% else %}
                <!--임의 이미지-->
                    <img class="card-img-top" src="https://picsum.photos/700/400" alt="random_image">
                {% endif %}
                <!--임의 이미지 고정-->
                <!--<img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/700/400" alt="random_image">-->

                <div class="card-body">
                    <!--category 보이게-->
                    {% if p.category %}
                        <span class="badge badge-light float-right">{{p.category}}</span>
                    {% else %}
                        <span class="badge badge-light float-right">미분류</span>
                    {% endif %}
                    <h2 class="card-title">{{p.title}}</a></h2>
                    {% if p.hook_text %}
                        <h5 class="text-muted">{{p.hook_text}}</h5>
                    {% endif %}
                    <h4>{{p.created_at}}</h4>
                    <p class="card-text">{{p.get_content_markdown | truncatewords_html:45|safe}}</p>

                    <!-- tag 보이게 -->
                    {% if p.tags.exists %}
                        <i class="fas fa-tags"></i>
                        {% for tag in p.tags.iterator %}
                            <a href="{{tag.get_absolute_url}}"><span class = "badge badge-pill badge-light">{{tag}}</span></a>
                        {% endfor%}
                        <br/>
                        <br/>
                    {% endif %}
                    <!--버튼 생성-->
                    <a href="{{p.get_absolute_url}}" class="btn">더보기</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{p.created}} by
                    <a href="#">{{p.auhor|upper}}</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>아직 게시물이 없습니다.</p>
    {% endif %}

    <!--page 넘기기-->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; 이전</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">다음 &rarr;</a>
        </li>
    </ul>

{% endblock %}