<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset = "UTF-8">
    <title>LANDING</title>
    <link rel="stylesheet" href="{% static 'single_pages/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing_a.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/cc6b89498d.js" crossorigin="anonymous"></script>
    <!-- 내 킷코드 -->
</head>
<body>
    {% include 'blog/navbar.html' %}

    <div class="header">
        <div class="container">
            <h1>Lee Jung Hyun></h1>
            <img src="../../../../static/single_pages/images/바탕.jpg" class="contact_pic">
            <h1 class="main_text">**Welcome**</h1>
            <h2 class="side_text">빅데이터 전문과정 수업 요약</h2>
            <p class="p_text">!</p>
        </div>
            <!-- footer 불러오기 -->
        <div class="bottom">
            {% include 'blog/footer.html' %}
        </div>
    </div>
</body>
</html>